@import '../app/vars.scss';

.timer_hiden {
    display: none;
}

.timer__time {
    margin: 0;
}

.timer-wrap {
    background-color: $white;
    padding: $gap $gap*2 $gap*2;
    font-size: $gap;
    line-height: $gap + 3px;
}

.timer-wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $gap*2;
    & p {
        margin: 0;
    }
}

.timer-wrap__header_timer-hiden {
    margin-bottom: 0;
}

.timer-wrap__tools{
    display: flex;
    gap: calc($gap / 2);
    align-items: center;
    & svg {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
}

.timer-wrap__tools_chevron {
    transition: transform ease-out 0.5s;
}

.timer-wrap__tools_timer-hiden {
    transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
    .timer-wrap {
        padding: $middleGap $middleGap*2 $middleGap*2;
        font-size: $middleGap+2px;
        line-height: $middleGap+4px;
    }
    
    .timer-wrap__header {
        margin-bottom: $middleGap*2;
    }
    
    .timer-wrap__tools{
        gap: calc($middleGap / 2);
        & svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .timer-wrap {
        padding: $smallGap $smallGap*2 $smallGap*2;
        font-size: 10px;
        line-height: 12px;
    }
    
    .timer-wrap__header {
        margin-bottom: $smallGap*2;
    }
    
    .timer-wrap__tools{
        gap: calc($smallGap / 2);
        & svg {
            width: 16px;
            height: 16px;
        }
    }
}