@import '../app/vars.scss';

.timer_hiden {
    display: none;
}

.timer__time {
    margin: 0;
}

.timer-wrap {
    background-color: $white;
    padding: 16px 32px 32px;
    font-size: 16px;
    line-height: 19px;
}

.timer-wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    & p {
        margin: 0;
    }
}

.timer-wrap__header_timer-hiden {
    margin-bottom: 0;
}

.timer-wrap__tools{
    display: flex;
    gap: 8px;
    align-items: center;
    & svg {
        cursor: pointer;
    }
}

.timer-wrap__tools_chevron {
    transition: transform ease-out 0.5s;
}

.timer-wrap__tools_timer-hiden {
    transform: rotate(180deg);
}