@import '../app/vars.scss';

.post-short-view {
    padding: $gap+2px $gap*2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}

.post-short-view__info {
    display: flex;
    align-items: center;
    gap: calc($gap/2);
}

.post-short-view__info_text {
    margin: 0 calc($gap/2) 0 0;
}

.post-short-view__info_chevron-down {
    transform: rotate(180deg);
}

.post-short-view__title {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .post-short-view {
        padding: $middleGap+2px $middleGap;
        font-size: 14px;
        line-height: 16px;
    }

    .post-short-view__info {
        gap: calc($middleGap/2);
    }

    .post-short-view__info_text {
        margin: 0 calc($middleGap/2) 0 0;
    }
}

@media screen and (max-width: 1024px) {
    .post-short-view {
        padding: $smallGap+2px $smallGap;
        font-size: 10px;
        line-height: 12px;
    }

    .post-short-view__info {
        gap: calc($smallGap/2);
    }

    .post-short-view__info_text {
        margin: 0 calc($smallGap/2) 0 0;
    }
}
