@import '../app/vars.scss';

.post{
    padding: 56px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post__author{
    display: flex;
    gap: 8px;
    align-items: center;
    & p{
        margin: 0;
        color: $blue;
        & span {
            color: $black;
        }
    }
}

.post__img {
    width: 100%;
}

.post__info {
    border-left: 2px solid $grey;
    padding-left: 8px;
}

.post__info_text {
    margin: 0 0 16px;
}

.post__info_time {
    margin: 0;
    color: $secondTx;
    & span {
        font-style: italic;
    }
}

.post__more-info{
    display: flex;
    gap: 32px;
    font-size: 16px;
    line-height: 19px;
}

.post__more-info_item{
    display: flex;
    gap: 8px;
    align-items: center;
    & p {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .post {
        padding: 42px 24px 24px;
        gap: 12px;
    }

    .post__author{
        gap: 6px;
    }

    .post__info {
        padding-left: 6px;
    }

    .post__info_text {
        margin: 0 0 12px;
    }

    .post__more-info{
        gap: 24px;
        font-size: 14px;
        line-height: 16px;
    }

    .post__more-info_item{
        gap: 6px;
    }
}