@import '../app/vars.scss';

.post{
    padding: calc($gap*3 + $gap/2) $gap $gap;
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.post__author{
    display: flex;
    gap: calc($gap/2);
    align-items: center;
    & p{
        margin: 0;
        color: $blue;
        & span {
            color: $black;
        }
    }
}

.post__img {
    width: 100%;
}

.post__info {
    border-left: 2px solid $grey;
    padding-left: calc($gap/2);
}

.post__info_text {
    margin: 0 0 $gap;
}

.post__info_time {
    margin: 0;
    color: $secondTx;
    & span {
        font-style: italic;
    }
}

.post__more-info{
    display: flex;
    gap: $gap*2;
    font-size: 16px;
    line-height: 19px;
}

.post__more-info_item{
    display: flex;
    gap: calc($gap/2);
    align-items: center;
    & p {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .post {
        padding: calc($middleGap*3 + $middleGap/2) $middleGap*2 $middleGap*2;
        gap: $middleGap;
    }

    .post__author{
        gap: calc($middleGap/2);
    }

    .post__info {
        padding-left: calc($middleGap/2);
    }

    .post__info_text {
        margin: 0 0 $middleGap;
    }

    .post__more-info{
        gap: $middleGap*2;
        font-size: 14px;
        line-height: 16px;
    }

    .post__more-info_item{
        gap: calc($middleGap/2);
    }
}

@media screen and (max-width: 768px) {
    .post {
        padding: calc($smallGap*3 + $smallGap/2) $smallGap*2 $smallGap*2;
        gap: $smallGap;
    }

    .post__author{
        gap: calc($smallGap/2);
    }

    .post__info {
        padding-left: calc($smallGap/2);
    }

    .post__info_text {
        margin: 0 0 $smallGap;
    }

    .post__more-info{
        gap: $smallGap*2;
        font-size: 10px;
        line-height: 12px;
    }

    .post__more-info_item{
        gap: calc($smallGap/2);
    }
}