@import '../app/vars.scss';

.map {
    width: 100%;
    & div {
        aspect-ratio: 3/1;
    }
}

.map_hiden {
    display: none;
}

.map-wrap {
    background-color: $white;
    padding: 16px 32px 32px;
}

.map-wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    & p {
        margin: 0;
        font-size: 16px;
        line-height: 19px;
    }
}

.map-wrap__header_map-hiden {
    margin-bottom: 0;
}

.map-wrap__tools{
    display: flex;
    gap: 8px;
    align-items: center;
    & svg {
        cursor: pointer;
    }
}

.map-wrap__tools_chevron {
    // transform: rotate(180deg);
    transition: transform ease-out 0.5s;
}

.map-wrap__tools_map-hiden {
    transform: rotate(180deg);
}